html {

.sysa.header {
  background-color: #f1f1f1;
  padding: 20px;
  text-align: center;
}

iframe {
  bottom: 0;
  position: relative;
  width: 100%;
  height: 40vh;
  border: unset;
  background: #f2f4f6;
}

.sysa.footer {
  background-color: #F1F1F1;
  text-align: center;
  padding: 10px;
}
